In [2]:
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [1]:
empty_dict2=dict()
print(type(empty_dict2))

<class 'dict'>

# example on dictionary

In [4]:
students={
    "name":"Dhruv",
    "age":"20",
    "gender":"Male",
    "grade":"A",
    "course":"CE"
    }

In [5]:
print(students)

{'name': 'Dhruv', 'age': '20', 'gender': 'Male', 'grade': 'A', 'course': 'CE'}

# accessing elements

In [6]:
print(students["name"])
print(students["age"])
print(students["course"])
print(students["grade"])
print(students["gender"])



print(students.get("grade"))
print(students.get("last_name","not available"))

Dhruv
20
CE
A
Male
A
not available

#   Modifying dictionary elements  they are mutable

In [7]:
students["address"]="India"
print(students)

{'name': 'Dhruv', 'age': '20', 'gender': 'Male', 'grade': 'A', 'course': 'CE', 'address': 'India'}

In [8]:
students["course"]="Enginerring"
print(students)

{'name': 'Dhruv', 'age': '20', 'gender': 'Male', 'grade': 'A', 'course': 'Enginerring', 'address': 'India'}

In [9]:
del students["course"]
print(students)

{'name': 'Dhruv', 'age': '20', 'gender': 'Male', 'grade': 'A', 'address': 'India'}

# Dictionary methods

In [10]:
values=students.values()
print(values)
keys=students.keys()
print(keys)
items=students.items()
print(items)

dict_values(['Dhruv', '20', 'Male', 'A', 'India'])
dict_keys(['name', 'age', 'gender', 'grade', 'address'])
dict_items([('name', 'Dhruv'), ('age', '20'), ('gender', 'Male'), ('grade', 'A'), ('address', 'India')])

In [11]:
#shallow copy 
students_copy=students
print(students)
print(students_copy)

{'name': 'Dhruv', 'age': '20', 'gender': 'Male', 'grade': 'A', 'address': 'India'}
{'name': 'Dhruv', 'age': '20', 'gender': 'Male', 'grade': 'A', 'address': 'India'}

In [12]:
students["name"]="Dhruv Tiwari"
print(students)
print(students_copy)

{'name': 'Dhruv Tiwari', 'age': '20', 'gender': 'Male', 'grade': 'A', 'address': 'India'}
{'name': 'Dhruv Tiwari', 'age': '20', 'gender': 'Male', 'grade': 'A', 'address': 'India'}

In [13]:
#shallow copy 
students_copy=students.copy()
print(students)
students_copy["age"]=21
print(students_copy)

{'name': 'Dhruv Tiwari', 'age': '20', 'gender': 'Male', 'grade': 'A', 'address': 'India'}
{'name': 'Dhruv Tiwari', 'age': 21, 'gender': 'Male', 'grade': 'A', 'address': 'India'}

# iteration in dictionary

In [14]:
for values in students.values():
    print(values,end="\t")

Dhruv Tiwari	20	Male	A	India

In [19]:
for keys in students.keys():
    print(keys,end="\t")

name	age	gender	grade	address

In [18]:
for key,value in students.items():
   print(f"[{key}: {value}]")

[name: Dhruv Tiwari]
[age: 20]
[gender: Male]
[grade: A]
[address: India]

# Nested Dictionary

In [20]:
students={
    "student1":{'name': 'Dhruv', 'grade': 'A', 'address': 'India'},
    "student2":{'name': 'Divyansh', 'grade': 'B', 'address': 'India'}
}
print(students)

{'student1': {'name': 'Dhruv', 'grade': 'A', 'address': 'India'}, 'student2': {'name': 'Divyansh', 'grade': 'B', 'address': 'India'}}

In [22]:
for students_id,students_info in students.items():
    print(f"{students_id}: {students_info}")
    for key,value in students_info.items():
        print(f"{key}:{value}")

student1: {'name': 'Dhruv', 'grade': 'A', 'address': 'India'}
name:Dhruv
grade:A
address:India
student2: {'name': 'Divyansh', 'grade': 'B', 'address': 'India'}
name:Divyansh
grade:B
address:India

In [23]:
#practical example 
#use a dictionary tpo count frequency of elements in list
numbers1 = [1, 1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 4, 4]
frequency = {}

for number in numbers1:
    if number in frequency:
        frequency[number] += 1
    else:
        frequency[number] = 1  

print(frequency)

{1: 2, 2: 2, 3: 3, 4: 6}

In [28]:
numbers1 = [1, 1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 4, 4]
frequency = {}
for index1 in range(len(numbers1)):
    count=0
    for index2 in range(len(numbers1)):
        if numbers1[index1]==numbers1[index2]:
            count+=1
    frequency[numbers1[index1]]=count
        
            
print(frequency)

{1: 2, 2: 2, 3: 3, 4: 6}

# Baisc problem in dictionary